<tr id="category_<%= category.id %>">
<td><%= category.name %></td>
<td><%= category.role %></td>
        <td><%= link_to 'Edit', edit_category_path(category), :remote => true , class: "btn" %></td>
        <td><%= link_to 'Destroy', category, method: :delete, :remote => true , class: "btn btn-danger"%></td>
</tr>
<%= will_paginate @categories %>